<script type="text/template" id="member-template">
  <td>
    {% if (!_.isEmpty(children)) { %}
    <span class="glyphicon glyphicon-triangle-top"></span>
    {% } %}
    {{ name }}
  </td>
  <td>{{ memberClass }}</td>
  <td>{{ memberCode }}</td>
  <td>{{ objectType }}</td>
  <td></td>
</script>
